.default_input {
  width: 100px;
  height: 31px;
  border-radius: 11px;
  border: solid 1px #979797;
  background-color: #ffffff;
  box-sizing: border-box;
}

@media screen and (max-width: 376px) {
  .default_input {
    width: 72px;
  }
}