.home_top_filters {
  height: 60px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 29px;
}

.home_top_filters .home_wrapper_filter:first-child{
  margin-right: 22.5px;
}

.home_top_filters .home_wrapper_filter:last-child{
  margin-left: 22.5px;
}

.home_top_label {
  margin-right: 15px;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
}

.home_container {
  position: relative;
  height: calc(100vh - 116px);
}

.home_wrapper_information_bar {
  padding-top: 16px;
}

.add_img {
  position: absolute;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  transition: 0.5s;
}

.add_img:hover { 
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (max-width: 376px) {
  .home_top_filters .home_wrapper_filter:first-child{
    margin-right: 17.5px;
  }
  .home_top_filters .home_wrapper_filter:last-child{
    margin-left: 17.5px;
  }
}